.jumbotron {
  padding-top: 7rem;
  border: none;
  padding-bottom: none;
  margin: none;
}

#about {
  background: #0099ff;
}

#projects {
  background-color: #0099ff;
}

section {
  border: none;
}
